#marcas-modelo .foto-marca{
    width: 150px;
    height: 150px;

    background-color: #BFBFBF;
    padding: 10px;
    border-radius: 20px;
}

.foto-marca{
    display: flex;
    justify-content: center;
    align-items: center;
}