#marcas .container-marcas{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#marcas figure{
    background-color: #BFBFBF;
    width: 175px;
    height: 175px;
    border-radius: 20px;
}

#marcas .logo-new-balance, .logo-puma{
    height: 150px;
    width: 150px;
    position: relative;
    left: 15px;
    top: 10px;
}

#marcas .titulo-marcas{
    color: #164096;
    font-size: 48px;
    font-weight: 500;
    padding: 30px 0px 25px 40px;
}

#marcas .container-marcas figure{
    transition: 0.2s ease-in-out;
}

#marcas .container-marcas figure:hover{
    transform: scale(1.1);
}