@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body{
    background-color: #ECECEC;
}

header{
    position: fixed;
    top: 40px;
    width: 80%;
    z-index: 1;
    padding: 0 10%;
    max-width: 1317px;
}

header nav{
    display: flex;
    align-items: center;
    background-color: #BFBFBF;
    width: 100%;
    border-radius: 20px;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    display: flex;
    padding-left: 16px;
}

.menu{
    list-style: none;
    gap: 43px;
    display: flex;
    padding-right: 27px;
}

.menu li{
    display: flex;
    justify-content: space-around;
}

.menu li a{
    text-decoration: none;
    color: #5B5B5B;
    background-color: #EDEDED;

    padding: 10px 20px;
    border-radius: 10px;
}

#marcas-modelo>h2.titulo-marcas{
    color: #164096;
    font-size: 48px;
    font-weight: 600;
    padding: 26px 84px 0;
}