#tenis-recomendados figure{
    position: relative;
    background-color: white;
    width: 100%;
    max-width: 400px;
    height: 300px;
    border-radius: 20px;
    margin: 0 0 20px 0;
}

body{
    background: #ECECEC;
}

#tenis-recomendados figcaption {
    position: absolute;
    top: 0;
    font-weight: 500;
    padding: 15px;
    text-align: start;
}

#tenis-recomendados figcaption h2{
    font-size: 16px;
    color: #5B5B5B;
    max-width: 245px;
    overflow: hidden;
}

#tenis-recomendados figcaption, .preco{
    color: #164096;
}

#tenis-recomendados .titulo-recomendados{
    color: #164096;
    font-size: 48px;
    font-weight: 500;
    padding: 30px 0px 25px 40px;
}

.recomendados-container {
    margin-bottom: 80px;
}

.row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

#tenis-recomendados .recomendados-container figure{
    transition: 0.3s ease-in-out;
}

#tenis-recomendados .recomendados-container figure:hover{
    transform: scale(1.03);
    transition: ease-in-out;
}